/* @import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Condensed+One&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Condensed+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Condensed+One&display=swap');

@import "tailwindcss";

*{
  font-family: "Special Gothic Condensed One", sans-serif;
  font-weight: 300;
  font-style: normal;

}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  scroll-behavior: smooth;
}

.special-gothic-condensed-one-regular {
  font-family: "Special Gothic Condensed One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.special-gothic-condensed-one-regular {
  font-family: "Special Gothic Condensed One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

